* {
	font-family: "Roboto";
}

.fixed {
	position: fixed;
	width: inherit;
	height: 100%;
	max-height: 300px;
	background-color: white;
}

textarea {
	border-radius: 5px;
	border: 1px solid grey;
	width: 95%;
	padding: 10px;
	margin: 20px auto;
}


/* Tareas */
#tareas {
	margin-top: 330px;
}

.cajastarea {
	width: 95%;
	height: 100px;
	border: 1px dashed black;
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px;
}

.cajatexto {
	width: 70%;
	margin: 0px 20px;
	display: inline-block;
}

.mg-top {
	margin-top: 10px;
}